# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore sqlite3 db
*.db

# Ignore all generated json & jsonl files
*.json
*.jsonl

# Ignore all saved model
models/

# Ignore fine tuned model, logs and results
src/llm/finetuned_deepseek_r1/
src/llm/results/
src/llm/logs/